argcomplete==1.10.0
asgiref==3.2.7
astroid==2.3.3
attrs==19.3.0
Automat==0.8.0
beautifulsoup4==4.8.0
boto3==1.13.9
botocore==1.16.9
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
colorama==0.4.3
constantly==15.1.0
cryptography==2.8
cssselect==1.1.0
distro==1.4.0
dj-database-url==0.5.0
Django==3.0.4
django-crispy-forms==1.9.0
django-heroku==0.3.1
django-storages==1.9.1
docutils==0.15.2
docx2txt==0.8
EbookLib==0.17.1
extract-msg==0.23.1
gunicorn==20.0.4
hyperlink==19.0.0
idna==2.8
IMAPClient==2.1.0
incremental==17.5.0
isort==4.3.21
jmespath==0.10.0
lazy-object-proxy==1.4.3
lxml==4.4.2
mccabe==0.6.1
nltk==3.4.5
numpy==1.18.1
olefile==0.46
opencv-python==4.1.2.30
opensimplex==0.2
pandas==1.0.3
parsel==1.5.2
pdfminer.six==20181108
Pillow==7.0.0
Protego==0.1.16
psycopg2==2.8.5
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.19
pycryptodome==3.9.7
PyDispatcher==2.0.5
PyHamcrest==1.10.1
pylint==2.4.4
pyOpenSSL==19.1.0
PyPDF2==1.27.5
python-dateutil==2.8.1
python-pptx==0.6.18
pytz==2019.3
queuelib==1.5.0
requests==2.22.0
s3transfer==0.3.3
Scrapy==1.8.0
service-identity==18.1.0
six==1.12.0
sortedcontainers==2.1.0
soupsieve==2.0
SpeechRecognition==3.8.1
spotipy==2.7.1
sqlparse==0.3.1
tabula-py==2.1.0
textract==1.6.3
Twisted==20.3.0
tzlocal==1.5.1
urllib3==1.25.8
w3lib==1.21.0
whitenoise==5.0.1
wrapt==1.11.2
xlrd==1.2.0
XlsxWriter==1.2.8
zope.interface==4.7.1