<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{%static 'analyze/textanalyzer.css'%}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    
    {% if title %}
        <title>{{title}}</title>
    {% else %}
        <title>Text Analyzer</title>
    {% endif %}


</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Text Analyzer</a></li>
                {% if user.is_authenticated %}

                    <li style="float: right;"><a href="{% url 'logout' %}">Log out</a></li>
                    <li style="float: right;"><a href="{% url 'profile' %}">Profile</a></li>

                {% else %}
                    <li style="float: right;"><a href="{% url 'login' %}">Log in</a></li>
                    <li style="float: right;"><a href="{% url 'register' %}">Sign up</a></li>
                {% endif %}
                
                
                <li style="float: right;"><a href="{% url 'index' %}">Info</a></li>
                
            </ul>
            
        </nav>
    </header>

    {% if messages%}
        {% for message in messages  %}
            <div>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>
    

    <footer>
        <p>Selim Seyhanoglu, 2020</p>
    </footer>
    
</body>
</html>