{% extends 'analyze/base.html' %}
{% load static%}

{% block content %}
    <main class="margin-top">
        <div class="inputfield">
            <h3>Paste in the text:</h3>
            
            <textarea form="analyze" name="inputtext" id="input1" cols="30" rows="10"></textarea>
            <button id="b1" class="inputbutton" onclick="analyzeText(document.getElementById('input1').value)">Analyze</button>
        </div>

        <div class="report">
            <h3>Report</h3>

            <h4>Wordcount:</h4>
            <p id="p1" style="color: lightgreen"></p>

            <h4>Word Frequency</h4>
            <canvas id="myChart"></canvas>

            <h4>Zipf Comparison</h4>
            <canvas id="myComparison"></canvas>

            <a class="inputbutton" href="{% url 'report-create' %}">Save</a>

        </div>
    </main>
{% endblock content %}

{% block scripts %}
<script>

    var input = document.getElementById("input1");

    input.addEventListener('keyup', function(e){
        sessionStorage.setItem("text", document.getElementById("input1").value);
    });
    



    
</script>

{% endblock scripts %}
    