{% extends 'analyze/base.html' %}

{% block content %}
    <main>
        <div class="inputfield">
            <h3>Paste in the text:</h3>
            
            <textarea form="analyze" name="inputtext" id="input1" cols="30" rows="10"></textarea>
            <button id="b1" class="inputbutton">Analyze</button>
        </div>

        <div class="report">
            <h3>Report</h3>

            <h4>Property:</h4>
            <p>Lorem ipsum dolor sit amet consectetur.</p>

            <h4>Property:</h4>
            <p>Lorem ipsum dolor sit amet consectetur.</p>

            <h4>Property:</h4>
            <p>Lorem ipsum dolor sit amet consectetur.</p>

            <h4>Property:</h4>
            <p>Lorem ipsum dolor sit amet consectetur.</p>

            <h4>Property:</h4>
            <p>Lorem ipsum dolor sit amet consectetur.</p>

            <button class="inputbutton">Save</button>

        </div>
    </main>
{% endblock content %}
    