{% extends 'analyze/base.html' %}
{% load static%}

{% block content %}
    <div class="form-box info-box">
        <h2>Hi, my name is Selim Seyhanoglu</h2>
        <p>I built this app to learn the fundamentals of django and python.
        You can checkout the code on my github, or send me a message.</p>
        <a href="https://github.com/selimlouis/textanalyzer" class="contacticon"><i class="fab fa-github fa-2x"></i></a>
        <a href="mailto:hello.mypersonalapps@gmail.com" class="contacticon"><i class="fas fa-paper-plane fa-2x"></i></a>
        
        <p>I got the idea for this site from a Vsauce video about Zipf's Law. You can read more about it 
        here: <a href="https://en.wikipedia.org/wiki/Zipf%27s_law">Wiki: Zipf's Law</a></p>
        <p class="text-muted">
        <small>
            This site exists for demonstration purposes and private use only. It is not a business operation.
        </small>
        </p>
        
    </div>
{% endblock content %}