{% extends 'analyze/base.html' %}

{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <h2>{{object.headline}}</h2>
            <div class="article-metadata">
                <a class="mr-2" href="{% url 'profile' %}">{{ object.author }}</a>
                <small class="text-muted">{{ object.date_posted|date:"d F, Y" }}</small>
            </div>
            <p class="article-content">{{object.content}}</p>
        </div>
    </article>

    {% if object.author == user %}
    <a href="{%url 'report-update' object.id%} " class="btn btn-outline-info mb-4">Edit</a>
    <a href="{%url 'report-delete' object.id%} " class="btn btn-outline-danger mb-4">Delete</a>
    {% endif %}
    
{% endblock content %}