{% extends 'analyze/base.html' %}

{% block content %}
    <form method="POST" action="">
        {% csrf_token %}
        <fieldset>
            <legend="border-bottom mb-4">Delete Report</legend>
            <h2>Are you sure you want to delete the report "{{object.headline}}"</h2>
        </fieldset>
        <div>
            <button type="submit" class="btn btn-outline-danger">Yes I want to delete</button>
            <a href="{% url 'report-detail' object.id %}" class="btn btn-outline-secondary">Cancel</a>
        </div>
    </form>
    
{% endblock content %}
