{% extends 'analyze/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="form-box usercontent">
    <form method="POST" action="">
        {% csrf_token %}
        <fieldset>
            <legend="border-bottom mb-4">Blog Post</legend>
            {{ form|crispy }}
        </fieldset>
        <div>
            <button type="submit" class="btn btn-primary">Update</button>
            <a href="{%url 'report-detail' object.id%} " class="btn btn-outline-secondary">Cancel</a>
        </div>
    </form>
    </div>
    
    
{% endblock content %}
