{% extends 'analyze/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="form-box usercontent">
    <form method="POST" action="" autocomplete="on">
        {% csrf_token %}
        <fieldset>
            <legend="border-bottom mb-4">Blog Post</legend>
            {{ form|crispy }}
        </fieldset>
        <div>
            <button type="submit" class="btn btn-primary">Post</button>
            <a href=" {% url 'profile' %}" class="btn btn-outline-secondary">Cancel</a>
        </div>
    </form>
    </div>
    
    
{% endblock content %}


{% block scripts %}
<script>
    document.getElementById("id_content").value = sessionStorage.getItem("text");
</script>
{% endblock scripts %}
