{% extends 'analyze/base.html' %}
{% load crispy_forms_tags %}


{% block content %}
    <div class="form-box">
        <div class="media">
            <div class="square">
            <img src="{{ user.profile.image.url }}" alt="">
            </div>
            
            <div class="media-body">
                <h2 class="account-heading">{{ user.username }}</h2>
                <p class="text-secondary">{{ user.email }}</p>
                <button onclick="toggleEdit()" class="btn btn-outline-primary">Edit</button>
            </div>
        </div>
    </div>

    <div class="form-box" id="updatebox" style="display: none">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Profile Info</legend>
            {{ u_form|crispy }}
            {{ p_form|crispy }}
        </fieldset>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Update</button>
        </div>
    </form>
    </div>
    

    <div class="form-box usercontent">
    {% for report in reports %}
        
        <article class="media content-section">
            <div class="media-body">
                
                <h2><a href="{%url 'report-detail' report.id%}">{{report.headline}}</a></h2>
                <div class="article-metadata">
                    <small class="text-muted">{{ report.date_posted|date:"d F, Y" }}</small>
                </div>
                <p class="article-content">{{report.content|slice:":300"|add:"..."}}</p>
            </div>
        </article>
    {% endfor %}

    <a href="{%url 'report-create'%}" class="btn btn-primary mb-4">Create new Report</a>
    </div>


    

    
{% endblock content %}
{% block scripts %}
    <script>

        function toggleEdit() {
            var x = document.getElementById("updatebox");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    </script>
{% endblock scripts %}

    
    
