{% extends 'analyze/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <div class="media">
            <img src="{{ user.profile.image.url }}" alt="" class="rounded-circle account-img">
            <div class="media-body">
                <h2 class="account-heading">{{ user.username }}</h2>
                <p class="text-secondary">{{ user.email }}</p>
            
            </div>
        </div>
    </div>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Profile Info</legend>
            {{ u_form|crispy }}
            {{ p_form|crispy }}
        </fieldset>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Update</button>
        </div>
    </form>

    {% for report in reports %}
        
        <article class="media content-section">
            <div class="media-body">
                
                <h2><a href="{%url 'report-detail' report.id%}">{{report.headline}}</a></h2>
                <div class="article-metadata">
                    <small class="text-muted">{{ report.date_posted|date:"d F, Y" }}</small>
                </div>
                <p class="article-content">{{report.content}}</p>
            </div>
        </article>
    {% endfor %}

    <a href="{%url 'report-create'%}" class="btn btn-primary mb-4">Create new Report</a>
{% endblock content %}

    
    
