

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


    {% load crispy_forms_tags %}
</head>
<body>
    
    <form method="POST" action="">
        {% csrf_token %}
        <fieldset>
            <legend>Join Today</legend>
            {{ form|crispy }}
        </fieldset>
        <div>
            <button type="submit" class="btn btn-primary">Sign Up</button>
        </div>
    </form>
    <div>
        <small>Already have an account?
        <a href="{% url 'login' %}"> Sign In</a></small>
    </div>
</body>
</html>