/* Coolors Exported Palette - coolors.co/18161c-7d2736-fbfef9-40798c-caf7e2 */

/* HSL */
$color1: hsla(260%, 12%, 10%, 1);
$color2: hsla(350%, 52%, 32%, 1);
$color3: hsla(96%, 71%, 99%, 1);
$color4: hsla(195%, 37%, 40%, 1);
$color5: hsla(152%, 74%, 88%, 1);

/* RGB */
$color1: rgba(24, 22, 28, 1);
$color2: rgba(125, 39, 54, 1);
$color3: rgba(251, 254, 249, 1);
$color4: rgba(64, 121, 140, 1);
$color5: rgba(202, 247, 226, 1);